name: Cypress Tests
on:
  push:
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # https://github.com/cypress-io/github-action/issues/48
      matrix:
        containers: [1, 2] # Uses 2 parallel instances
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create PrivateData.json
        run: |
          echo "${{ secrets.PRIVATE_DATA_JSON }}" > cypress/testData/PrivateData.json
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: npm start
          # wait-on: "http://localhost:3000 --timeout 120000" # Waits for above
          record: true
          parallel: true # Runs tests in parallel using settings above
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
